{{!-- Social Media Links --}}
<div class="social-links">
  {{!-- Facebook --}}
  {{!-- <a class="social-links__item facebook"
     href="{{facebook_url}}" target="_blank" title="Facebook"
     aria-label="Facebook" rel="noreferrer">
    {{>icon name="facebook"}}
    <p>Facebook</p>
  </a> --}}
  {{!-- 微博 --}}
  {{!-- <a class="social-links__item weibo"
     href="{{twitter_url}}" target="_blank" title="weibo"
     aria-label="weibo" rel="noreferrer">
    <svg class="icon" aria-hidden="true">
		<use xlink:href="#kiconweibo2"></use>
	</svg>
    <p>微博</p>
  </a> --}}
  {{!-- Instagram --}}
  {{!-- <a class="social-links__item instagram"
     href="https://instagram.com" target="_blank" title="Instagram"
     aria-label="Instagram" rel="noreferrer">
    {{>icon name="instagram"}}
    <p>Instagram</p>
  </a> --}}
  {{!-- Linkedin --}}
  {{!-- <a class="social-links__item linkedin"
     href="https://linkedin.com" target="_blank" title="Linkedin"
     aria-label="Linkedin" rel="noreferrer">
    {{>icon name="linkedin"}}
    <p>Linkedin</p>
  </a> --}}
  {{!-- Github --}}
  <a class="social-links__item github"
     href="https://github.com" target="_blank" title="Github"
     aria-label="Github" rel="noreferrer">
    {{>icon name="github"}}
    <p>Github</p>
  </a>
  {{!-- RSS --}}
  {{!-- <a class="social-links__item rss"
     href="/rss" target="_blank" title="RSS"
     aria-label="RSS" rel="noreferrer">
    {{>icon name="rss"}}
    <p>RSS</p>
  </a> --}}
</div>
