{{!< default}}

{{#get "posts" include="authors,tags" limit=@config.posts_per_page}}
<div class="container-fluid wrapper">
  <section class="section latest-post">
    {{#foreach posts to="1" visibility="all"}}
      <div class="row">
        <div class="col-xs">
          {{> post-card class="post-card--special" lazy=false }}
        </div>
      </div>
    {{/foreach}}
  </section>

  <div class="row">
    <div class="col-xs-12">
      <section class="section all-posts">
        <div class="row posts">
          {{#foreach posts from="2" visibility="all"}}
            <div class="col-xs-12 col-md-6 col-lg-4 post-wrap">
              {{> post-card class="col"}}
            </div>
          {{/foreach}}
        </div>
        <div class="row">
          <div class="col-xs-12 center-xs">
            <button id="load-more-posts" class="btn btn--wide btn--brand btn--bordered">
              {{t "Load more posts"}}
            </button>
          </div>
        </div>
      </section>

      <h5 class="section__title">{{t "Explore topics"}}</h5>
      {{> wave}}
      <section class="section top-tags">
        {{#get "tags" limit="4" include="count.posts" order="count.posts desc"}}
          <div class="row">
          {{#foreach tags}}
            <div class="col-xs-12 col-sm-6 col-lg-3">
              {{> tag-card}}
            </div>
          {{/foreach}}
          </div>
        {{/get}}
      </section>
    </div>
  </div>
</div>
{{/get}}
