{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
<div class="container-fluid wrapper">
  <div class="row">
    <div class="col-xs-12">
      <div class="page__header">
        <h1 class="page__title">Offline</h1>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="post__content">
        It looks like currently you are offline.
        Please try again when your network connection is available again.
      </div>
    </div>
  </div>
</div>
